#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Hardening
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

build: build-arch build-indep

build-arch: build-stamp

build-indep: build-stamp

build-stamp:
	dh_testdir
	python setup.py build
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python setup.py nosetests --where lib
	python setup.py test
endif
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp
	python setup.py clean --all
	rm -f lib/mypaintlib_wrap.cpp options.cache \
	  .sconsign.dblite debian/*.debhelper debian/*.log
	find . -type f -name "*.pyc" -exec rm -vf {} \;
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	python setup.py install --prefix=/usr --root=$(CURDIR)/debian/tmp
	dh_install --fail-missing -X prev-template.xcf.gz \
	  -X FX_blender_prev.png -X label-brush-mypaint.sh
	dh_installchangelogs Changelog.md
	dh_installdocs
	dh_installmenu
	dh_python2
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_icons
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums

binary-indep: install
	dh_builddeb --indep

binary-arch: install
	dh_builddeb --arch

binary: install
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install
